<ion-view view-title="">
	<ion-nav-buttons>
		
    </ion-nav-buttons>
	<ion-content scroll="false">
    	<section class="logo-container color-az">
	        <div class="logo">
	            <img src="img/logo.png">
	        </div>
	    </section>
	    <section class="menu-flex">
	        <div class="item-flex color-vr">
	            <div class="item-menu">
	            	<a href="#/login" class="icon-item-menu row-center">
		                <img src="img/b_registro.jpg">
		            </a>
	            </div>
	        </div>
	        <div class="item-flex color-vr">
		    	<div class="item-menu">
		    		<a href="#/reclamo" class="icon-item-menu row-center">
		                <img src="img/b_reclamo.jpg">
		            </a>
		    	</div>
	        </div>
	        <div class="item-flex color-vr">
	        	<div class="item-menu">
	        		<a href="#/consultarReclamo" class="icon-item-menu row-center">
		                <img src="img/b_consulta.jpg">
		            </a>
	        	</div>
	        </div>
	    </section>
  	</ion-content>
</ion-view>