
.logo-container {
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 90%;
} 

.logo img {
	width: 100%;
	height: 100%;
}

.menu-flex {
	height: 40%;
	display: flex;
	flex-direction: column;
}

.item-flex {
	display: flex;
	justify-content: center;
	margin-top: 7px;
	height: 100%;
}

.item-menu {
	overflow: hidden;
}

.item-menu a {
	height: 100%;
}

.icon-item-menu {
	width: 68px;
}

.icon-item-menu img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.row-center {
	display: flex;
}

@media screen and (max-width: 320px){
	.icon-item-menu {
		width: 50px;
	}
}

@media screen and (min-width: 320px){
	.icon-item-menu {
		width: 55px;
	}

	.icon-item-menu:active {
		width: 50px;
	}

	.icon-item-menu img:active {
		width: 90%;
	}
}

@media screen and (min-width: 360px){
	.bar-banner div span img {
		width: 65%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px){
	.bar-banner div span img {
		width: 35%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 480px){
	.logo-container {
		height: 70%;
	}

	.logo {
		width: 70%;
	}

	.logo img {
		width: 100%;
		height: 100%;
	}

	.menu-flex {
		height: 30%;
		flex-direction: row;
	}

	.item-flex {
		width: 100%;
		align-items: center;
	}

	.item-flex:first-child {
		justify-content: flex-end;
		height: auto;
	}

	.item-flex:last-child {
		justify-content: flex-start;
		height: auto;
	}

	.item-flex:not(:first-child):not(:last-child) {
		width: 50%;
		height: auto;
	}

	.item-menu {
		height: 80%;
	}

	.icon-item-menu {
		width: 80px;
	}

	.icon-item-menu img {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

@media screen and (min-width: 568px){
	.logo-container {
		height: 70%;
	}

	.logo {
		width: 40%;
	}

	.menu-flex {
		height: 30%;
	}

	.icon-item-menu {
		width: 60px;
	}
}
/* OK Landscape 856 x 480 */
@media screen and (max-height: 480px) and (max-width: 856px){
	
	.bar-banner {
		/*background-position: center;
		background-size: 70% 100%;*/
	}
	.logo {
		width: 35%;
	}

	.item-menu {
		width: 58px;
	}

	.icon-item-menu {
		width: 100%;
	}
}

@media screen and (min-width: 960px){
	.logo-container {
		height: 70%;
	}

	.logo {
		width: 50%;
	}

	.logo img {
		width: 100%;
		height: 100%;
	}

	.menu-flex {
		height: 30%;
		flex-direction: row;
	}
}

/*@media screen and (min-width: 1024px){
	.logo-container {
		height: 75%;
	}

	.icon-item-menu {
		width: 96px;
	}

	.menu-flex {
		height: 25%;
	}
}*/



/* #b8fc96 verde claro */

/* #ff8888 rojo suave */